<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="/static/app.css">

    <title>annotator</title>
</head>
<body>
    <header style="margin: 2rem;">
      <h1>
        TimeSplit annotator
      </h1>
    </header>

    <main id="app">
      <div v-if="from != null && to != null" class="editor" >
        <div class="im-one" >
          <img id="image" :src="`/static/data/${images[from]}`" />
        </div>
        
        <div class="bb-one">
          <svg viewBox="0 0 1280 720" xmlns="http://www.w3.org/2000/svg">
            <rect :x="(l[1] * 1280) - (l[3] * 1280 / 2)" 
                  :y="(l[2] * 720) - (l[4] * 720 / 2)" 
                  :width="l[3] * 1280" :height="l[4] * 720" 
                  :stroke="colors[i]"
                  v-for="l, i in labels[0]" />  
          </svg>
        </div>
        
        
        <div class="im-two">
          <img id="image" :src="`/static/data/${images[to]}`" />
        </div>

        <div class="bb-two">
          <svg viewBox="0 0 1280 720" xmlns="http://www.w3.org/2000/svg">
            <rect :x="(l[1] * 1280) - (l[3] * 1280 / 2)" 
                  :y="(l[2] * 720) - (l[4] * 720 / 2)" 
                  :width="l[3] * 1280" :height="l[4] * 720" 
                  :stroke='colors[matches[i] - 1] ? colors[matches[i] - 1] : "black"'
                  v-for="l, i in labels[1]" />
          </svg>
        </div>

        <div class="lbl-one" v-if="labels && labels.length == 2">
          <table>
            <thead>
              <th>
                #
              </th>
              <th>
                X
              </th>
              <th>
                Y
              </th>
              <th>
                W
              </th>
              <th>
                H
              </th>
            </thead>

            <tr v-for="label, i in labels[0]">
              <td style="text-align: center;">
                {{ i + 1 }}
              </td>
              <td>
                {{ label[1] }}
              </td>
              <td>
                {{ label[2] }}
              </td>
              <td>
                {{ label[3] }}
              </td>
              <td>
                {{ label[4] }}
              </td>
            </tr>
          </table>
        </div>

        <div class="lbl-two">
          <table>
            <thead>
              <th>
                match
              </th>
              <th>
                X
              </th>
              <th>
                Y
              </th>
              <th>
                W
              </th>
              <th>
                H
              </th>
            </thead>

            <tr v-for="label, i in labels[1]">
              <td>
                <select v-model="matches[i]">
                  <option v-for="j in labels[0].length" >
                    {{ j }}
                  </option>
                </select>
              </td>
              <td>
                {{ label[1] }}
              </td>
              <td>
                {{ label[2] }}
              </td>
              <td>
                {{ label[3] }}
              </td>
              <td>
                {{ label[4] }}
              </td>
            </tr>
          </table>
        </div>

        <div class="options">
          <button @click="save">
            Save
          </button>
        </div>
      </div>

      <table class="list">
        <thead>
          <th>
            name
          </th>
          <th>
            show
          </th>
        </thead>

        <tbody>
          <tr v-for="im, i in images">
            <td >
              {{ im }}
            </td>

            <td>
              <button style="margin-right: 0.5rem;" @click="() => { setFrom(i) }">
                From
              </button>
              <button @click="() => { setTo(i) }">
                To
              </button>
            </td>
          </tr>
          
        </tbody>
      </table>

      <div class="upload-zone">
        <div>
          <b>
            Upload image:
          </b>
        </div>
        <br/>
        <form action="/img" method="post" enctype="multipart/form-data">
          <label for="files">Select images </label>
          <input type="file" id="files" name="files" accept="image/jpg" multiple>
          <input type="submit">
        </form>

        <br/>

        <form action="/lbl" method="post" enctype="multipart/form-data">
          <label for="files">Select label(s)</label>
          <input type="file" id="files" name="files" accept=".txt" multiple>
          <input type="submit">
        </form>
      </div>
    </main>

    <script>
        const { createApp } = Vue
        
        createApp({
          created() {
            this.getAll();
          },
          data() {
            return {
              images: [],
              labels: [],
              from: null,
              to: null,
              matches: [],
              colors: [],
              time: 1,
            }
          },
          methods: {
            getAll: function () {
              axios.get('/all')
              .then(resp => {
                this.images = resp.data.images;
                this.setFrom(0);
                this.setTo(1);
              }).catch(err => {
                console.error(err);
              });
            },
            setFrom: function (i) {
              this.from = i;
              
              axios.get(`/lbl?img=${this.images[this.from]}`)
              .then(resp => {
                this.labels[0] = resp.data;
                this.matches = this.labels[0].map((l, i) => i+1);
                this.colors = this.labels[0].map(l => `#${Math.floor(Math.random()*16777215).toString(16)}`);
              }).catch(err => {
                console.error(err);
              });
            },
            setTo: function (i) {
              this.to = i;
              
              axios.get(`/lbl?img=${this.images[this.to]}`)
              .then(resp => {
                this.labels[1] = resp.data;
                this.time = parseInt(this.images[this.to].split('_')[1].split('.')[0]) - parseInt(this.images[this.from].split('_')[1].split('.')[0]);
              }).catch(err => {
                console.error(err);
              });
            },
            resetLabels: function () {
              this.labels = [];
              
              axios.get(`/lbl?img=${this.images[this.from]}`)
              .then(resp => {
                this.labels.push(resp.data);
                this.matches = this.labels[0].map((l, i) => i+1);
              }).catch(err => {
                console.error(err);
              });

              axios.get(`/lbl?img=${this.images[this.to]}`)
              .then(resp => {
                this.labels.push(resp.data);
              }).catch(err => {
                console.error(err);
              });
              
            },
            save: function () {
              let annots = {
                'data': this.labels[0].map((l, i) => {
                  console.log(i, this.matches.length);
                  if (i + 1 > this.labels[0].length) {
                    return null;
                  }

                  let m = this.labels[1][this.matches[i] - 1];
                  return {
                    t: 0,
                    x: m[1] - l[1],
                    y: m[2] - l[2],
                    h: m[3] - l[3],
                    w: m[4] - l[4]
                  }
                }),
                'from_image': this.images[this.from],
                'to_image': this.images[this.to]
              }

              axios.post('/annot', annots)
              .then(resp => {
                console.log(resp);
              }).catch(err => {
                console.error(err);
              });
            }

          }
        }).mount('#app')
      </script>
</body>
</html>