table {
    border: black 1px solid;
    padding: 0.5rem;
    margin: 1rem;
    width: calc(100% - 2rem);

    tr {
        border-top: solid 1px black;
    }
}

.list thead {
    text-align: left;
}

.upload-zone {
    margin-left: 1rem;
    width: calc(100% - 3rem);
    padding: 0.5rem;
    border: 1px solid black;
}


form {
    input {
        margin-left: 2rem;
    }
}

.editor {
    max-width: calc(640px + 440px + 1rem);
    margin: 1rem;
    display: grid; 
    grid-template-columns: 640px 440px;
    grid-template-rows: 480px 480px;
    border: solid 1px black;
    gap: 0 1rem;

    img {
        height: 360px;
        width: 640px;
    }

    table {
        margin: 1rem;

        thead {
            background-color: lightgrey;
        }

        tr:nth-child(even) {background-color: #c2f2f2;}
    }
    
    .im-one {
        grid-column: 1;
        grid-row: 1;
        margin: 1rem;
        height: 360px;
        width: 640px;
    }
    
    .bb-one {
        grid-row: 1;
        grid-column: 1;
        margin: 1rem;
        height: 360px;
        width: 640px;
    }

    .bb-two {
        grid-row: 2;
        grid-column: 1;
        margin: 1rem;
        height: 360px;
        width: 640px;
    }

    .im-two {
        grid-column: 1;
        grid-row: 2;
        margin: 1rem;
    }


    svg {
        height: 360px;
        width: 640px;

        rect {
            stroke-width: 5px;
            fill: transparent;
        }
    }

    .lbl-one {
        grid-column: 2;
        grid-row: 1;
    }

    .lbl-two {
        grid-column: 2;
        grid-row: 2;
    }

    .options {
        // border-top: 1px solid black;
        grid-row: 3;
        grid-column: 1 / span 2;

        text-align: right;
        padding: 0.5rem 1rem;

        button {
            outline: none;
            border: 1px solid black;
            padding: 0.5rem 2rem;
            border-radius: 4px;
        }
    }
}

button {
    cursor: pointer;
}